body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 20px;
}

table {
    margin-top: 10px;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
}
